@media (min-width: 48em) {

}


.flex-container {
    display: flex;
    flex-wrap: wrap;
}


.logo {
    order: 1;
}


.social {
    order: 2;
}


.main {
    order: 3;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}


h1 {
    word-wrap: break-word;
    font-size: 65px;
    font-family: "Open Sans";
    position: relative;
}


h2 {
    font-size: 50px;
    font-family: "Open Sans";
    position: relative;
    color: gray;
}


p {
    font-size: 25px;
    font-family: "Open Sans Condensed";
}


img {
    max-width: 100%;
    display: block;
    height: auto;
}


.logodesign {
    order: 4;
}


.photobox {
    order: 5;
    position: relative;
}